$main-color: #ec644b;
@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

.container {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(2, minmax(120px, auto)) / repeat(7, minmax(260px, auto));
    justify-content: center;
}
