.header {
    min-height: 680px;
    padding: 20px 0 80px;
    background: url(../img/header/bg.jpg) center (center / cover) no-repeat;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__suptitle {
        margin-top: 40px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: #fff;

    }
    &__title {
        font-size: 42px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        span {
            font-size: 72px;
            font-weight: 700;
            color: $main-color;
        }
    }
    &__line {
        margin-top: 40px;
        margin-bottom: 30px;
        span {
            display: block;
            margin: 0 auto;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
            position: relative;
            &::before, &::after {
                content: '';
                display: block;
                height: 2px;
                width: 370px;
                background-color: #fff;
                position: absolute;
            }
            &::after {
                right: 20px;
                top: 3px;
            }
            &::before {
                left: 20px;
                top: 3px;
            }
        }
    }
    &__inner {
        display: grid;
        justify-content: space-around;
        grid-auto-rows: minmax(110px, auto);
        align-items: start;
        grid-template: minmax(110px, auto) / repeat(4, minmax(250px, 260px));
    }
    &__item {
        text-align: center;
        color: #fff;
        &-img {
            margin-bottom: 5px;
        }
    }
    &__btn {
        display: block;
        height: 60px;
        width: 230px;
        margin: 40px auto 0;
        font-size: 15px;
        font-weight: 700;
    }
}
.menu {
    transition: all .3s linear;
    position: relative;
    &__close {
        display: none;
        position: absolute;
        top: 30px;
        right: 10px;
        z-index: 100;
        transition: all .3s linear;
        span {
            display: block;
            height: 2px;
            width: 30px;
            background-color: $main-color;
            transition: all .3s linear;
            
            &:first-child {
                transform: rotateZ(-45deg);
            }
            &:last-child {
                transform: rotateZ(45deg);
                // margin-top: 10px;
            }
        }
    }
    &__list {
        list-style: none;
        display: flex;
    }
    &__item {
        padding: 5px 14px;
        border-left: 1px dotted #cecece;
        &:first-child {
            border-left: none;
        }
    }
    &__link {
        display: block;
        color: #fff;
        font-size: 15px;
        transition: all .4s linear;
        &:hover {
            text-decoration: none;
            color: $main-color;
            border-bottom: 1px solid $main-color;
        }
    }
    &__phone {
        display: none;
        transition: all .3s linear;
        &-btn {
            width: 30px;
            height: 30px;
            border-radius: 10%;
            border: none;
            position: relative;
            background-color: $main-color;
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 25%;
                transform: translateX(-50%);
                width: 60%;
                height: 2px;
                border-radius: 1px;
                background-color: #fff;
                box-shadow: 0 5px 0 #fff, 0 10px 0 #fff;
            }
        }

    }
}